



.navbar{background-color: blue !important;}

.nav-link{color:white !important;}

.navbar-brand{color:white !important;}


h1{font-size: 18px !important;text-transform: capitalize !important;}

.img-fluid{height:300px !important;}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-control {
  margin-top: 10px;
  border-color: black !important;
}
.btn-success {
  margin-top: 10px;
  float: left;
}